<!doctype html>
<html>
<head>
    <title>Опросник</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.css"/>

    <script type="text/javascript" src="bower/angular/angular.min.js"></script>

    <script type="text/javascript" src="bower/ngprogress/build/ngProgress.min.js"></script>
    <link rel="stylesheet" href="bower/ngprogress/ngProgress.css"/>

    <script type="text/javascript" src="bower/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="bower/cytoscape/dist/cytoscape.min.js"></script>

    <script type="text/javascript" src="bower/angular-growl-v2/build/angular-growl.min.js"></script>
    <link rel="stylesheet" href="bower/angular-growl-v2/build/angular-growl.min.css"/>

    <script type="text/javascript" src="js/questions.js"></script>
    <script type="text/javascript" src="js/ng-app.js"></script>
</head>
<body ng-app="ng-app">
<div growl></div>
<div class="container-fluid" style="margin-top: 20px;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Опросник на основе графа с несколькими родительскими узлами
                </a>
            </div>
        </div>
    </nav>
    <div class="row" ng-controller="MainController">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-6">
                            <input type="checkbox" id="show-answers" ng-model="showAnswers"/>
                            <label for="show-answers">Отображать мои ответы</label>
                            <br/>
                            <input type="checkbox" id="show-graph" ng-model="showGraph"/>
                            <label for="show-graph">Отобразить граф</label>
                        </div>
                        <div class="col-md-6 pull-right" style="text-align: right; padding-top: 10px;">
                            <button ng-click="restart(true)" class="btn btn-warning btn-sm">
                                Перезапустить
                            </button>
                        </div>
                    </div>
                    <div ng-if="currentQuestion" class="well well-lg">
                        <div class="row" style="text-align: center; margin: 20px auto;">
                            <div class="col-md-12">{{currentQuestion.question}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-repeat="answer in currentQuestion.answers" class="col-md-6"
                                     style="text-align: center;">
                                    <button
                                            ng-click="doAnswer(currentQuestion.id, answer)"
                                            class="btn"
                                            ng-class="{'btn-success':answer.isPositive, 'btn-danger':!answer.isPositive}"
                                            style="min-width: 50px">
                                        {{answer.answer}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="getResult()" class="well well-lg">{{getResult().result}}</div>
                    <div class="row well well-sm" ng-repeat="answer in answers" ng-if="showAnswers">
                        <div class="col-md-12">
                            <div>Q.: {{answer.getQuestion().question}}</div>
                            <div>A.: {{answer.answer}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 500px" ng-show="showGraph">
            <div id="cy-container" style="height: 100%; width: 100%; position: absolute; left: 0; top: 0;"></div>
        </div>
    </div>

</div>
</body>
</html>